<h3>Cập nhật sách</h3>
<form (ngSubmit)="updateBook(id)">
  <table>
    <tr>
      <td><label for="title">Tên:</label></td>
      <td><input type="text" id="title" name="title"   [(ngModel)]="book.title"></td>
    </tr>
    <tr>
      <td><label for="author">Tác giả:</label></td>
      <td><input type="text" id="author" name="author" [(ngModel)]="book.author"></td>
    </tr>
    <tr>
      <td><label for="description"> Mô tả:</label></td>
      <td><textarea  id="description" cols="30" rows="10" name="description" [(ngModel)]="book.description"></textarea></td>
    </tr>
    <tr>
      <td><button>Cập nhật sách</button></td>
      <td></td>
    </tr>
  </table>
</form>
